.worldMapIcon {
  width: 1235px;
  height: 756.4px;
  position: absolute;
  margin: 0 !important;
  right: -244px;
  bottom: 836.6px;
}
.desktopChild {
  width: 462px;
  height: 517px;
  position: relative;
  border-radius: 20px;
  display: none;
  max-width: 100%;
  z-index: 1;
}
.realradzatebyaStrongUkrainiaIcon {
  width: 1400px;
  height: 725px;
  position: relative;
  object-fit: cover;
  display: none;
  max-width: 100%;
  z-index: 2;
}
.desktop {
  width: 100%;
  position: relative;
  background-color: #f9f9f9;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 61px 0;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .desktop {
    gap: 61px 0;
  }
}
@media screen and (max-width: 450px) {
  .desktop {
    gap: 61px 0;
  }
}
