.icon,
.swaphub {
  position: relative;
  z-index: 1;
}
.icon {
  height: 79px;
  width: 86px;
  object-fit: cover;
}
.swaphub {
  width: 149px;
  letter-spacing: 0.14em;
  line-height: 110%;
  text-transform: uppercase;
  display: inline-block;
}
.parent,
.swaphubWrapper {
  display: flex;
  justify-content: flex-start;
}
.swaphubWrapper {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.parent {
  flex-direction: row;
  align-items: center;
  gap: 0 4px;
  text-align: left;
  font-size: var(--font-size-8xl-4);
  color: var(--color-darkgray-200);
  font-family: var(--font-gilroy);
}
