.frameChild {
  align-self: stretch;
  height: 430px;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  display: none;
  z-index: 0;
}
.aed,
.linkFrameIcon {
  position: relative;
  z-index: 1;
}
.linkFrameIcon {
  align-self: stretch;
  height: 276px;
  border-radius: var(--br-7xs) var(--br-7xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.aed {
  line-height: 130%;
  white-space: nowrap;
}
.p,
.palmBeachTowers {
  margin: 0;
}
.div,
.div1,
.div2,
.div3,
.palmBeachTowersContainer {
  position: relative;
  line-height: 130%;
  z-index: 1;
}
.div,
.div1,
.div2,
.div3 {
  font-weight: 500;
}
.imageFrame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 20.67px;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray-100);
}
.cityFrame {
  align-self: stretch;
  flex-direction: column;
  gap: 13px 0;
  color: var(--color-black);
}
.background,
.cityFrame,
.rectangleGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleGroup {
  flex: 1;
  flex-direction: column;
  gap: 10px 0;
}
.background {
  width: 346px;
  flex-direction: row;
  padding: 0 var(--padding-5xl);
  box-sizing: border-box;
  max-width: 100%;
}
.wrapperGroup29Child {
  width: 100%;
  height: 100%;
  z-index: 2;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 10px;
  transform: scale(2);
}
.wrapperGroup29 {
  width: 60px;
  height: 60px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 30px);
  right: -30px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangleParent {
  align-self: stretch;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-firebrick);
  font-family: var(--font-gilroy);
}
@media screen and (max-width: 450px) {
  .imageFrame {
    flex-wrap: wrap;
  }
}
