.frameChild {
  align-self: stretch;
  width: 1440px;
  position: relative;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.socialMedia1Icon {
  height: 23.8px;
  width: 23.8px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.brandWithInfluencers {
  height: 26.2px;
  width: 26.4px;
  position: relative;
  min-height: 26px;
  z-index: 2;
}
.youtubeRedCopy1 {
  width: 28.6px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.groupRectangleFrameGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-12xs) 0 0;
}
.socialMedia1Parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 16px;
}
.commissionSplitChild {
  height: 46px;
  flex: 1;
  z-index: 2;
}
.commissionSplit,
.rectangleParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
}
.commissionSplit {
  width: 352px;
  justify-content: flex-start;
  gap: 0 50px;
}
.rectangleParent {
  align-self: stretch;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0 var(--padding-41xl) var(--padding-12xs) var(--padding-33xl);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-8xl-4);
  color: var(--color-darkgray-200);
  font-family: var(--font-gilroy);
}
@media screen and (max-width: 750px) {
  .rectangleParent {
    padding-left: var(--padding-7xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .commissionSplit {
    gap: 0 50px;
  }
}
