.oxeswaphub,
.p {
  margin: 0;
}
.oxeswaphubContainer {
  margin: 0;
  width: 372px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.newLocationBase {
  width: 616px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.openBankAccountDubaiChild {
  width: 1867px;
  height: 683px;
  position: relative;
  background: linear-gradient(180deg, rgba(249, 249, 249, 0), #f9f9f9);
  display: none;
  max-width: 100%;
}
.div,
.successfullySwapped {
  position: relative;
  z-index: 2;
}
.successfullySwapped {
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 300;
}
.div {
  width: 143px;
  font-size: var(--font-size-lg);
  line-height: 130%;
  color: var(--color-black);
  display: inline-block;
}
.newObjectsAdded {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px 0;
}
.div1,
.influencerName {
  position: relative;
  display: inline-block;
  z-index: 2;
}
.influencerName {
  width: 44px;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 300;
}
.div1 {
  width: 143px;
  font-size: var(--font-size-lg);
  line-height: 130%;
  color: var(--color-black);
}
.newCountryLocations,
.newObjectsAdded1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px 0;
}
.newCountryLocations {
  gap: 35px 0;
  min-width: 143px;
}
.div2,
.newFloorLiving {
  position: relative;
  z-index: 2;
}
.newFloorLiving {
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 300;
}
.div2 {
  width: 193px;
  font-size: var(--font-size-lg);
  line-height: 130%;
  color: var(--color-black);
  display: inline-block;
}
.granatnyPerdKlubDomGranat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px 0;
}
.b,
.div3 {
  position: relative;
  display: inline-block;
  z-index: 2;
}
.b {
  width: 118px;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 300;
}
.div3 {
  width: 204px;
  font-size: var(--font-size-lg);
  line-height: 130%;
  color: var(--color-black);
}
.presnenskyPresnenskyRub {
  flex-direction: column;
  gap: 2px 0;
}
.availableMoscowProperty,
.multipleProperties,
.presnenskyPresnenskyRub {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.availableMoscowProperty {
  flex-direction: column;
  gap: 35px 0;
  min-width: 204px;
}
.multipleProperties {
  flex-direction: row;
  gap: 0 59px;
  max-width: 100%;
}
.h1 {
  margin: 0;
  width: 988px;
  position: relative;
  font-size: var(--font-size-21xl);
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 600;
  font-family: inherit;
  color: var(--color-gray-100);
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.openBankAccountDubai {
  align-self: stretch;
  background: linear-gradient(180deg, rgba(249, 249, 249, 0), #f9f9f9);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-13xl) var(--padding-103xl) var(--padding-138xl);
  box-sizing: border-box;
  gap: 120px 0;
  max-width: 100%;
  z-index: 1;
}
.frameChild {
  align-self: stretch;
  height: 430px;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  display: none;
  z-index: 0;
}
.b1,
.grenadaClubhouseIcon {
  position: relative;
  z-index: 1;
}
.grenadaClubhouseIcon {
  align-self: stretch;
  height: 276px;
  border-radius: var(--br-7xs) var(--br-7xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.b1 {
  line-height: 130%;
}
.p1,
.p2 {
  margin: 0;
}
.div4,
.div5,
.div6,
.div7,
.div8 {
  position: relative;
  line-height: 130%;
  z-index: 1;
}
.div5,
.div6,
.div7,
.div8 {
  font-weight: 500;
}
.group,
.parent {
  align-self: stretch;
}
.group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 20.67px;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray-100);
}
.parent {
  flex-direction: column;
  gap: 13px 0;
  color: var(--color-black);
}
.currencySymbolsFrame,
.granatStreetAddress,
.parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.granatStreetAddress {
  flex: 1;
  flex-direction: column;
  gap: 10px 0;
}
.currencySymbolsFrame {
  width: 346px;
  flex-direction: row;
  padding: 0 var(--padding-5xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frameItem {
  width: 60px;
  height: 60px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 31px);
  left: -30px;
  object-fit: contain;
  z-index: 3;
}
.frameInner,
.rectangleParent {
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
}
.rectangleParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
  z-index: 2;
}
.frameInner {
  align-self: stretch;
  height: 430px;
  display: none;
}
.b2,
.div9,
.rectangleIcon {
  position: relative;
  z-index: 1;
}
.rectangleIcon {
  align-self: stretch;
  height: 276px;
  border-radius: var(--br-7xs) var(--br-7xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.b2,
.div9 {
  line-height: 130%;
}
.div9 {
  color: var(--color-black);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px 0;
}
.div10,
.div11,
.div12,
.div13 {
  position: relative;
  line-height: 130%;
  font-weight: 500;
  z-index: 1;
}
.frameDiv,
.frameParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameDiv {
  flex-direction: row;
  gap: 0 20.67px;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray-100);
}
.frameParent {
  flex-direction: column;
  gap: 36px 0;
}
.frameWrapper {
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-5xl);
}
.frameWrapper,
.granatQuarterHouseCluster,
.rectangleGroup {
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangleGroup {
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--padding-5xl);
  gap: var(--gap-xl);
  z-index: 2;
}
.granatQuarterHouseCluster {
  width: 1320px;
  display: grid;
  flex-direction: row;
  padding: 0 var(--padding-12xs) 0 0;
  gap: 0 10px;
  grid-template-columns: repeat(3, minmax(325px, 1fr));
}
.currencyFrame,
.moscowPropertyExchange {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.moscowPropertyExchange {
  width: 1564px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  margin-top: -117px;
  font-size: var(--font-size-lg);
}
.currencyFrame {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  font-size: var(--font-size-61xl);
  color: var(--color-firebrick);
}
.group1 {
  height: 100%;
  width: 434px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 50px;
  bottom: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-firebrick);
}
.div14 {
  flex: 1;
  position: relative;
  line-height: 130%;
  font-weight: 600;
  display: inline-block;
  max-width: 100%;
  flex-shrink: 0;
  z-index: 1;
}
.parentGroupFrame,
.submitRequestButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
}
.submitRequestButton {
  width: 557px;
  align-items: center;
  padding: var(--padding-mid) 0 var(--padding-xl);
  position: relative;
}
.parentGroupFrame {
  width: 1541px;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.oxeSwapHubDetails {
  width: 1867px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 29px 0;
  max-width: 124%;
  flex-shrink: 0;
}
.frameContent,
.moscowRealtySwap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.frameContent {
  width: 1502px;
  justify-content: flex-start;
  padding: 0;
  max-width: 104%;
  flex-shrink: 0;
}
.moscowRealtySwap {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 0 var(--padding-base) 0;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-gray-100);
  font-family: var(--font-gilroy);
}
@media screen and (max-width: 1275px) {
  .openBankAccountDubai {
    padding-left: var(--padding-42xl);
    padding-right: var(--padding-42xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
  .granatQuarterHouseCluster {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(325px, 563px));
  }
}
@media screen and (max-width: 750px) {
  .oxeswaphubContainer {
    font-size: var(--font-size-21xl);
    line-height: 44px;
  }
  .b,
  .influencerName,
  .newFloorLiving,
  .successfullySwapped {
    font-size: var(--font-size-21xl);
    line-height: 53px;
  }
  .h1 {
    font-size: var(--font-size-13xl);
    line-height: 35px;
  }
  .openBankAccountDubai {
    gap: 120px 0;
    padding: var(--padding-2xl) var(--padding-11xl) var(--padding-83xl);
    box-sizing: border-box;
  }
  .granatQuarterHouseCluster {
    grid-template-columns: minmax(325px, 1fr);
  }
}
@media screen and (max-width: 450px) {
  .oxeswaphubContainer {
    font-size: var(--font-size-11xl);
    line-height: 33px;
  }
  .influencerName,
  .successfullySwapped {
    font-size: var(--font-size-5xl);
    line-height: 35px;
  }
  .newCountryLocations {
    flex: 1;
  }
  .b,
  .newFloorLiving {
    font-size: var(--font-size-5xl);
    line-height: 35px;
  }
  .availableMoscowProperty {
    flex: 1;
  }
  .multipleProperties {
    flex-wrap: wrap;
    gap: 0 59px;
  }
  .h1 {
    font-size: var(--font-size-5xl);
    line-height: 26px;
  }
  .openBankAccountDubai {
    gap: 120px 0;
  }
  .frameDiv,
  .group {
    flex-wrap: wrap;
  }
  .frameParent {
    gap: 36px 0;
  }
}
